body {
    background-color: yellow;
    margin: 0;
    font-family: Arial, sans-serif;
}

.A {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.B {
    background-color: yellow;
    padding: 5px;
    width: 80px;
    
}

.main {

    background-color: white; /* white card */
    padding: 30px;
    border-radius: 10px;
    border-color: black;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    gap: 1px;
    text-align: left; /* aligns text to the left */
}

.main img:first-child {
    width: 100%;
    border-radius: 10px;
}

.author {
    display: flex;
    align-items: center;
    gap: 4px;
}

.author img {
  width: 40px;
    height: 40px;
    border-radius: 50%;  
    object-fit: contain;   
    display: block;     
}